.navbar {
  background-color: #5f72a6;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

.toolbar {
  display: flex;
  justify-content: space-between; /* Adjusted this */
}

.logo-container {
  background-color: #5f72a6;
  padding: 30px;
}

.store-icon {
  background-color: #5f72a6;
}

.tittle_div {
  display: flex;
}

.navbar-title {
  color: white;
  margin: 0;
  font-size: 24px;
  display: flex;
}

.navbar-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
  padding-right: 10px;
}

.login-button,
.logout-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
}

.login-button:hover,
.logout-button:hover {
  opacity: 0.4;
}

.search-container {
  position: relative;
}

.login-button a,
.logout-button a {
  text-decoration: none;
  color: inherit;
}

.cart-store {
  background-color: #5f72a6;
  border: 1px solid white;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
}
